<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=utf-8/>
    <link rel=stylesheet type=text/css th:href="@{https://codingbat.com/codingbat.css}">
    <title>CodingBat Java</title></head>
<body>
<div style='float:right'>
    <table>
        <tr>
            <td valign=top style='text-align:right' colspan=1><a href=/about.html>about</a> |
                <a href=/help.html>help</a> | <a href=/doc/code-help-videos.html>code help+videos</a> |
                <a href=/done>done</a> | <a th:href="@{/login}">login</a> |
                <a th:href="@{/register}">create account</a>
            </td>
        </tr>
    </table>
</div>
<a th:href="@{/}"><span style='font-size:200%;'>CodingBat</span></a> code practice
<div class=pretab><p class=max>Welcome to Codingbat. See <a href=/help.html>help</a> for the latest.</div>
<div class=tabc>
    <nav>
        <ul>
            <li class=h2 th:each="subject : ${subjects}"><a
                    th:href="@{/{title}(title=${subject.getTitle()})}"
                    th:text="${subject.getTitle()}"></a></li>
        </ul>
    </nav>
<!--    4719-->
    <div class=tabin>
        <table>
            <tr style="display: grid; grid-template-columns: repeat(3, 33%); width: 1070px" th:each="topic : ${topics}">
                <td >
                    <div class=summ>
                        <a href=<tr th:text="${topic.getName()}"/>
                            <span class=h2 th:text="${topic.getName()}"></span>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
        <div class=floatclear></div>
        <h3>Java Help</h3>
        <p style='max-width:800px'>


        <p style='max-width:800px'>
        <h3>Misc Code Practice</h3>

    </div>
</div>
<p style='font-size:x-small;'>Copyright <a style='font-size:x-small;' href='http://www-cs-faculty.stanford.edu/~nick'>Nick
    Parlante</a> 2017 - <a style='font-size:x-small;' href=/privacy.html>privacy</a></body>
</html>
